<div ng-include="'views/common/header.view.client.html'"></div>

<div class="application" ng-hide="model.isLoggedIn.roles.indexOf('ADMIN')>-1 || model.isLoggedIn.roles.indexOf('CRITIC')>-1">
    <div class="col-xs-12 col-sm-8">
        <form role="form" name="applicationForm">
            <div class="alert alert-success"
                 ng-show="model.success">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                {{model.success}}
            </div>
            <div class="form-group">
                <label for="experience">Experience</label>
                <textarea id="experience"
                          ng-model="experience"
                          name="experience"
                          rows="10"
                          placeholder="A short review of how you qualify as a critic !!!"
                          class="form-control"
                          required></textarea>

                <button type="submit"
                        ng-click="model.submitApplication(experience); experience=null;"
                        class="submit-btn btn btn-primary btn-success pull-right"
                        ng-disabled="applicationForm.$invalid">
                    Submit Application
                </button>
                <a ng-href="#/profile/{{model.userId}}"
                   class="submit-btn cancel-btn btn btn-primary btn-danger pull-right">
                    Cancel
                </a>
            </div>
        </form>
    </div>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>