.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid white;
}

.navbar-footer {
    margin-top: 10px;
    background-color: #2c3e50;
    color: white;
}

.fa-heart {
    color : red;
}

a.navbar-brand {
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

.movies-list, .series-list, .people-list {
    margin-top : 100px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 80px;
}

.users-list {
    margin-bottom: 80px;
}

a.movie-title,
a.movie-title:hover,
a.tvshow-title,
a.tvshow-title:hover,
a.season-list,
a.season-list:hover,
a.people-name,
a.people-name:hover {
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
    color: #2c3e50;
    text-decoration: none;
}

.rating, .content, .DOB {
    color: #18bc9c;
    font-style: italic;
}

.img-responsive {
    width: 180px;
}

.list-view {
    margin-bottom: 50px;
}

.search-bar {
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 100px;
}

.movie-overview, .tvshow-overview {
    margin-top: 10px;
}

.trailer {
    margin-top: 60px;
    width: 100%;
    height: 500px;
}

@media (max-width: 767px) {
    .trailer {
        height: 200px;
    }
}

.movie-details, .tvshow-details {
    margin-top: 100px;
    margin-left: 20px;
    margin-bottom: 75px;
}

.media-heading, .genres {
    font-style: italic;
}

.label {
    background-color: #2c3e50;
}

.fa-facebook-official {
    font-size: 30px;
    color: #3b5998;
}

.fa-twitter {
    font-size: 30px;
    color: #00aced;
}

.fa-instagram {
    font-size: 30px;
    color: #bc2a8d;
}

.fa-imdb {
    font-size: 30px;
    color: RGB(230,185,30);
}

.cast-heading {
    margin-top: 80px;
    margin-left: 10px;
    font-style: italic;
}

.register, .login {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.profile {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    margin-bottom: 100px;
}

.text-right a,
.text-right a:hover {
    color: #2c3e50;
}

.people-profile {
    width: 300px;
    height: 400px;
}

a.movie-name-link,
a.movie-name-link:hover {
    color: #2c3e50;
}

.fa-before {
    color: #2c3e50;
}

.fa-after {
    color: red;
}

.fa-flag-checkered {
    color: #18bc9c;
}

.review  {
    margin-bottom: 50px;
}



.review-list-user {
    margin-top: -50px;
    margin-bottom: 150px;
}

.submit-btn {
    margin-top: 20px;
}

.review-heading {
    margin-left: 10px;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

.fa-sidebar {
    color: #fff;
}

.favorites, .watchlist {
    margin-left: 10px;
    margin-bottom: 80px;
}

.profile-picture-small {
    height : 50px;
    width : 50px;
    margin-right: 10px;
}

.review-summary,
.review-description,
.critic-experience {
    overflow: hidden;
}

.upload {
    margin-top: 20px;
}

.admin-list a {
    color: #18bc9c;
}

.admin-title {
    margin-top: 100px;
    margin-bottom: 100px;
}

.list-bar-active {
    background-color: #2c3e50;
    color: white;
}

a.movie-length-null, a.tvshow-length-null {
    color: white;
    text-decoration: underline;
}

.follow-profile-picture {
    height : 100px;
    width : 100px;
    margin-right: 10px;
}

.application {
    margin-left: 25%;
    margin-top: 100px;
    margin-bottom: 100px;
}


@media (max-width: 767px) {
    .application {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

.cancel-btn {
    margin-right: 10px;
}

.fa-check-circle {
    color: #18bc9c;
    margin-left: 5px;
}

.critic-review {
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

.facebook,
.facebook:hover,
.facebook:active,
.facebook:focus,
.facebook:active:focus {
    border-color: #3B5998;
    background-color: #3B5998;
}

.twitter,
.twitter:hover,
.twitter:active,
.twitter:focus,
.twitter:active:focus {
    border-color: #00aced;
    background-color: #00aced;
}

@media (min-width: 767px) {
    .facebook {
        margin-left: 45px;
    }

    .twitter {
        margin-left: 90px;
    }
}

.fa-tweet {
    color: white;
}