<div ng-include="'views/common/header.view.client.html'"></div>

<div ng-include="'views/user/templates/profile/sidebar.profile.view.client.html'"></div>

<div class="profile">
    <form>

        <div class="alert alert-danger"
             ng-show="model.errorMessage">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            {{model.errorMessage}}
        </div>

        <div class="alert alert-success"
             ng-show="model.successMessage">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            {{model.successMessage}}
        </div>

        <div class="form-group">
            <label for="first-name">First Name</label>
            <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-option-horizontal"></i>
                    </span>
                <input type="text"
                       id="first-name"
                       class="form-control"
                       placeholder="First Name"
                       ng-model="model.user.firstName">
            </div>
        </div>

        <div class="form-group">
            <label for="last-name">Last Name</label>
            <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-option-horizontal"></i>
                    </span>
                <input type="text"
                       id="last-name"
                       class="form-control"
                       placeholder="Last Name"
                       ng-model="model.user.lastName">
            </div>
        </div>

        <div class="form-group">
            <label for="username">Username</label>
            <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                <input type="text"
                       id="username"
                       class="form-control"
                       placeholder="Username"
                       ng-model="model.user.username"
                       disabled>
            </div>
        </div>

        <div ng-if="model.userId === model.currentUser._id"
             class="form-group">
            <label for="password">Password</label>
            <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                <input type="password"
                       id="password"
                       class="form-control"
                       placeholder="Password"
                       ng-model="model.user.password"
                       disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-envelope"></i>
                    </span>
                <input type="text"
                       id="email"
                       class="form-control"
                       placeholder="Email address"
                       ng-model="model.user.email">
            </div>
        </div>

        <div class="form-group">
            <label for="phone">Phone</label>
            <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-earphone"></i>
                    </span>
                <input type="tel"
                       id="phone"
                       class="form-control"
                       placeholder="Phone number"
                       ng-model="model.user.phone">
            </div>
        </div>

    </form>

    <div ng-if="model.userId === model.currentUser._id" class="form-group">
        <div class="form-group">
            <label for="image">Profile Picture</label>
            <form action="/api/moviepedia/upload" role="form" method="post" enctype="multipart/form-data">
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-upload"></i>
                        </span>
                    <input name="myFile"
                           type="file"
                           id="image"
                           class="form-control"
                           required/>
                    <input name="userId" value="{{model.currentUser._id}}" style="display: none"/>
                </div>
                <button type="submit"
                        class="btn btn-block btn-primary upload">
                    Upload Image
                </button>
            </form>
        </div>
    </div>

    <div ng-if="model.userId === model.currentUser._id"
         class="form-group">
        <a class="btn btn-block btn-danger"
           data-toggle="modal"
           data-target="#deleteModal">
            Delete
        </a>
    </div>

    <div ng-if="model.userId === model.currentUser._id"
         class="form-group">
        <a class="btn btn-block btn-success"
           data-toggle="modal"
           data-target="#updateModal">
            Update
        </a>
    </div>

    <div ng-if="model.userId === model.currentUser._id"
         class="form-group">
        <a ng-click="model.logout()"
           class="btn btn-block btn-danger">
            Logout
        </a>
    </div>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>

<div class="modal fade" id="updateModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5><button type="button"
                            class="close"
                            data-dismiss="modal">
                    &times;
                </button>
                </h5>
                <h5>Are you sure wanna update your details ?</h5>
            </div>
            <div class="modal-footer">
                <button type="submit"
                        class="modal-button btn btn-default btn-success"
                        data-dismiss="modal"
                        ng-click="model.updateUser(model.user)">
                    Yes
                </button>
                <button type="button"
                        class="modal-button btn btn-default btn-danger"
                        data-dismiss="modal">
                    No
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5><button type="button"
                            class="close"
                            data-dismiss="modal">
                    &times;
                </button>
                </h5>
                <h5>Are you sure wanna delete your account ?</h5>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="modal-button btn btn-default btn-success"
                        ng-click="model.deleteUser()"
                        data-dismiss="modal">
                    Yes
                </button>
                <button type="button"
                        class="modal-button btn btn-default btn-danger"
                        data-dismiss="modal">
                    No
                </button>
            </div>
        </div>
    </div>
</div>