<div class="container">
    <div class="row">
        <div id="wrapper">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="#menu-toggle"
                           id="menu-toggle"
                           class="menu-toggle">
                            <i class="fa fa-bars"
                               aria-hidden="true">
                            </i>
                        </a>
                    </li>
                    <li ng-controller="sidebarController as model">
                        <img class="profile-picture"
                             ng-src="{{model.user.image}}">
                    </li>
                    <li ng-if="model.userId === model.currentUser._id"
                        ng-hide="model.currentUser.roles.indexOf('ADMIN')>-1 || model.currentUser.roles.indexOf('CRITIC')>-1"
                        class="critic">
                        <a ng-href="#/profile/{{model.userId}}/critic/application">
                            <button class=" btn btn-primary btn-warning">
                                Be a critic
                            </button>
                        </a>
                    </li>
                    <div ng-if="model.userId !== model.currentUser._id"
                         class="follow">
                        <button class=" btn btn-primary btn-success"
                                ng-if="!model.isFollow"
                                ng-click="model.follow(model.userId)">
                            FOLLOW
                        </button>
                    </div>
                    <div ng-if="model.userId !== model.currentUser._id"
                         class="unfollow">
                        <button class=" btn btn-primary btn-danger"
                                ng-if="model.isFollow"
                                ng-click="model.unfollow(model.userId)">
                            UNFOLLOW
                        </button>
                    </div>
                    <li>
                        <a ng-href="#/profile/{{model.userId}}">
                            <i class="fa fa-cog fa-sidebar"
                               aria-hidden="true"></i>
                            <span class="sidebar-list">Profile</span>
                        </a>
                    </li>
                    <li>
                        <a ng-href="#/profile/{{model.userId}}/favorites">
                            <i class="fa fa-heart fa-sidebar"
                               aria-hidden="true"></i>
                            <span class="sidebar-list">Favorites</span>
                        </a>
                    </li>
                    <li>
                        <a ng-href="#/profile/{{model.userId}}/watchlist">
                            <i class="fa fa-flag-checkered fa-sidebar" aria-hidden="true"></i>
                            <span class="sidebar-list">Watchlist</span>
                        </a>
                    </li>
                    <li>
                        <a ng-href="#/profile/{{model.userId}}/reviews"><i class="fa fa-comments fa-sidebar"
                                       aria-hidden="true"></i>
                            <span class="sidebar-list">Reviews</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/profile/{{model.userId}}/followers"><i class="fa fa-users fa-sidebar"
                                        aria-hidden="true"></i>
                            <span class="sidebar-list">Followers</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/profile/{{model.userId}}/following"><i class="fa fa-users fa-sidebar"
                                       aria-hidden="true"></i>
                            <span class="sidebar-list">Following</span>
                        </a>
                    </li>
                    <li ng-if="model.currentUser._id === model.userId">
                        <a href="#/profile/{{model.userId}}/search/users">
                            <i class="fa fa-user fa-sidebar" aria-hidden="true"></i>
                            <span class="sidebar-list">Search Users</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <script>
                                $("#menu-toggle").click(function(e) {
                                    e.preventDefault();
                                    $("#wrapper").toggleClass("toggled");
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>