<div ng-include="'views/common/header.view.client.html'"></div>

<iframe class="trailer"
        ng-if="model.trailer"
        ng-src="{{model.trailer}}"
        frameborder="0"
        allowfullscreen>
</iframe>

<ul class="media-list movie-details">
    <li class="media">
        <div class="col-sm-2">
            <div class="media-left media-middle">
                <img class="media-object img-responsive"
                     ng-src="http://image.tmdb.org/t/p/w500{{model.movie.poster_path}}"
                     onerror="this.src='images/image-not-available.jpg'"
                     alt="{{model.movie.original_title}}">
            </div>
        </div>
        <div class="col-sm-10">
            <div class="media-body">
                <h2 class="media-heading">{{model.movie.title}} &nbsp;
                    <a ng-if="model.movie.imdb_id"
                       href="https://www.imdb.com/title/{{model.movie.imdb_id}}" target="_blank">
                        <i class="fa fa-imdb"></i>
                    </a>

                    <a ng-show="model.isLoggedIn._id"
                       ng-click="model.favoriteMovie(model.movie.id)">
                        <i ng-if="!model.isFavorited"
                           class="fa-before fa fa-heart-o">
                        </i>
                    </a>

                    <a ng-show="model.isLoggedIn._id"
                       ng-click="model.unFavoriteMovie(model.movie.id)">
                        <i ng-if="model.isFavorited"
                           class="fa-after fa fa-heart">
                        </i>
                    </a>

                    <a ng-show="model.isLoggedIn._id"
                       ng-click="model.watchlistMovie(model.movie.id)">
                        <i ng-if="!model.isWatchlisted"
                           class="fa-before fa fa-flag-o">
                        </i>
                    </a>

                    <a ng-show="model.isLoggedIn._id"
                       ng-click="model.undoWatchlistMovie(model.movie.id)">
                        <i ng-if="model.isWatchlisted"
                            class="fa-after fa fa-flag-checkered">
                        </i>
                    </a>
                </h2>


                <h4 class="genres">
                    <span  ng-repeat="genre in model.movie.genres">
                        <span class="label label-default label-as-badge" >
                            {{"#" +genre.name}}
                        </span>&nbsp;
                    </span>
                </h4>
                <span class="plot" ng-if="model.movie.overview">{{model.movie.overview}}<br><br></span>
                <span class="release-date" ng-if="model.movie.release_date"> <span class="content">Release date &nbsp;: &nbsp;</span> {{model.movie.release_date | date : "yyyy MMMM, dd"}}<br></span>
                <span class="movie-rating" ng-if="model.movie.vote_average"> <span class="content">Rating &nbsp;: &nbsp;</span> {{model.movie.vote_average}}<br></span>
                <span class="runtime" ng-if="model.movie.runtime"> <span class="content">Runtime &nbsp;: &nbsp;</span> {{model.movie.runtime}} minutes<br></span>
                <span class="director" ng-if="model.director"> <span class="content">Director &nbsp;: &nbsp;</span>{{model.director.name}}</span><br>
                <span class="budget" ng-if="model.movie.budget"> <span class="content">Budget &nbsp;: &nbsp;</span> {{model.movie.budget | currency:"USD$ "}}<br></span>
                <span class="revenue" ng-if="model.movie.revenue"> <span class="content">Revenue &nbsp;: &nbsp;</span> {{model.movie.revenue | currency:"USD$ "}}</span>
            </div>
        </div>

        <div class="col-sm-12"><h2 ng-if="model.cast1.length > 0" class="cast-heading">Cast Summary</h2></div>
        <div>
            <ul class="media-list">
                <div class="col-sm-6">
                    <li class="media" ng-repeat="people in model.cast1 | limitTo : 5">
                        <div class="col-sm-2">
                            <a ng-href="#/people/{{people.id}}">
                                <img class="media-object img-responsive"
                                     ng-src="http://image.tmdb.org/t/p/w500{{people.profile_path}}"
                                     onerror="this.src='images/image-not-available.jpg'"
                                     alt="{{people.name}}">
                            </a>
                        </div>
                        <div class="col-sm-10"><a ng-href="#/people/{{people.id}}">{{people.name}}</a>&nbsp;&nbsp;
                            <span ng-if="people.character">as</span> &nbsp;&nbsp; <span>{{people.character}}</span>
                        </div>
                    </li>
                </div>
                <div class="col-sm-6">
                    <li class="media" ng-repeat="people in model.cast2 | limitTo : 5">
                        <div class="col-sm-2">
                            <a ng-href="#/people/{{people.id}}">
                                <img class="media-object img-responsive"
                                     ng-src="http://image.tmdb.org/t/p/w500{{people.profile_path}}"
                                     onerror="this.src='images/image-not-available.jpg'"
                                     alt="{{people.name}}">
                            </a>
                        </div>
                        <div class="col-sm-10"><a ng-href="#/people/{{people.id}}">{{people.name}}</a>&nbsp;&nbsp;
                            <span ng-if="people.character">as</span> &nbsp;&nbsp;<span>{{people.character}}</span>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </li>
</ul>

<div class="container-fluid review" ng-show="model.isLoggedIn._id">
    <h1 class="review-heading">Write a review</h1>
    <div class="col-xs-12 col-sm-8">
        <form role="form" name="reviewForm">
            <div class="form-group">
                <label for="summary">Summary</label>
                <input class="form-control"
                       name="summary"
                       ng-model="summary"
                       placeholder="Review Summary"
                       id="summary"
                       required/>

                <label for="description">Description</label>
                <textarea id="description"
                          ng-model="description"
                          name="description"
                          rows="5"
                          placeholder="Detailed description"
                          class="form-control"
                          required></textarea>

                <button type="submit"
                        ng-click="model.createReview(summary, description); summary=null; description=null;"
                        class="submit-btn btn btn-primary btn-success pull-left"
                        ng-disabled="reviewForm.$invalid">
                    Add your review
                </button>
            </div>
        </form>
    </div>
</div>

<div class="container-fluid review-list" ng-show="model.isLoggedIn._id">
    <div class="col-xs-12 col-sm-8">
        <h1 class="critic-review" ng-show="model.reviews.length > 0 && model.criticReview.length>0">CRITIC REVIEWS</h1>
        <div ng-repeat="review in model.reviews">
            <ul class="list-group" ng-if="review.isCritic">
                <li class="list-group-item">
                    <a ng-href="#/profile/{{review.userId}}">
                        <img class="profile-picture-small" ng-src="{{review.image}}">
                    </a>
                    <span class="user-list">
                        <a ng-href="#/profile/{{review.userId}}">
                            {{review.firstName}} {{review.lastName}}
                        </a>
                        <i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp; &nbsp;
                    </span>

                    <button ng-show="model.isLoggedIn._id === review.userId"
                            ng-click="model.deleteReview(review._id)"
                            class="btn btn-danger pull-right">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>

                    <button ng-show="model.isLoggedIn._id === review.userId"
                            ng-click="model.selectReview(review)"
                            data-toggle="modal"
                            data-target="#updateModal"
                            class="update-btn btn btn-warning pull-right">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </button>

                    <h1 class="review-summary critic-review">"{{review.summary}}"</h1>
                    <p class="review-description critic-review">{{review.description}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid review-list-user" ng-show="model.isLoggedIn._id">
    <div class="col-xs-12 col-sm-8">
        <h1 ng-show="model.reviews.length > 0 && model.userReview.length>0">USER REVIEWS</h1>
        <div ng-repeat="review in model.reviews">
            <ul class="list-group" ng-if="!review.isCritic">
                <li class="list-group-item">
                    <a ng-href="#/profile/{{review.userId}}">
                        <img class="profile-picture-small" ng-src="{{review.image}}">
                    </a>
                    <span class="user-list">
                        <a ng-href="#/profile/{{review.userId}}">
                            {{review.firstName}} {{review.lastName}}
                        </a>&nbsp; &nbsp;
                    </span>

                    <button ng-show="model.isLoggedIn._id === review.userId"
                            ng-click="model.deleteReview(review._id)"
                            class="btn btn-danger pull-right">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>

                    <button ng-show="model.isLoggedIn._id === review.userId"
                            ng-click="model.selectReview(review)"
                            data-toggle="modal"
                            data-target="#updateModal"
                            class="update-btn btn btn-warning pull-right">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </button>

                    <h1 class="review-summary">"{{review.summary}}"</h1>
                    <p class="review-description">{{review.description}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="modal fade" id="updateModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form" name="updateReviewForm">
                <div class="form-group">
                    <div class="modal-body">
                        <label for="modal-summary">Summary</label>
                        <input class="form-control"
                               ng-model="model.review.summary"
                               placeholder="Review Summary"
                               id="modal-summary"
                               required/><br>

                        <label for="modal-description">Description</label>
                        <textarea id="modal-description"
                                  ng-model="model.review.description"
                                  rows="5"
                                  placeholder="Detailed description"
                                  class="form-control"
                                  required></textarea>
                    </div>

                    <div class="modal-footer">
                        <button type="submit"
                                class="modal-button btn btn-default btn-primary"
                                data-dismiss="modal"
                                ng-click="model.updateReview(model.review)"
                                ng-disabled="updateReviewForm.$invalid">
                            Update
                        </button>
                        <button type="button"
                                class="modal-button btn btn-default btn-primary"
                                data-dismiss="modal">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>