<div ng-include="'views/common/header.view.client.html'"></div>

<div class="login text-center" ng-hide="model.isLoggedIn._id">
    <h3>Sign in</h3>
    <form class="form-horizontal"
          id="loginForm"
          ng-submit="model.login(username,password)">

        <div ng-show="model.error"
             class="alert alert-danger">
            {{model.error}}
        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i>
                </span>
                <input type="text"
                       class="form-control"
                       placeholder="Username"
                       ng-model="username"
                       autofocus=""/>
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-lock"></i>
                </span>
                <input type="password"
                       class="form-control"
                       placeholder="Password"
                       ng-model="password"/>
            </div>
        </div>

        <div class="form-group">
            <button type="submit"
                    class="btn btn-block btn-primary">
                Login
            </button>
        </div>

        <div class="row">
            <div class="col-sm-4 form-group">
                <a ng-href="/auth/google"
                   class="btn btn-danger btn-block google">
                    <span class="fa fa-google-plus"></span>
                    Google
                </a>
            </div>

            <div class="col-sm-4 form-group">
                <a ng-href="/auth/facebook"
                   class="btn btn-primary btn-block facebook">
                    <span class="fa fa-facebook"></span>
                    Facebook
                </a>
            </div>

            <div class="col-sm-4 form-group">
                <a ng-href="/auth/twitter"
                   class="btn btn-primary btn-block twitter">
                    <span class="fa fa-twitter fa-tweet"></span>
                    Twitter
                </a>
            </div>
        </div>

        <div class="row text-right">
            <a ng-href="#/register">Not a member?</a>
        </div>

    </form>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>
